<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>送信が完了しました</h2>
    <h4>内容は以下の通りです。</h4>
    <h4>[タイトル]</h4>
    <h4><%= @event.title %></h4>
    <h4>[本文]</h4>
    <h4><%= @event.content %></h4>
  </div>
</div>